<!--
Student Name: Krzysztof Bas
Student Number: C00238768
 -->

{% extends 'base.html'%}
{% block body %}

<section id="formSection" >
    <h2>Summary</h2>
    <div>
        <li>Currently enrolled in BSc in Software Development in Institute of Technology Carlow, and a student member of Irish Computer Society.</li>
        <li>Franchise Team Leader at Scotco ROI Limited for over 3 years, shift leading and collaborating as part of a diverse team.</li>
        <li>Excellent communication and customer service skills enjoy sharing knowledge and encouraging the development of others.</li>
        <li>Able to effectively self-mange during projects independently or as part of a productive team.</li>
        <li>Currently in my third year of studies which includes the following modules: Advanced Programing, Discrete Structures and Algorithms 2, Operating Systems, Web and Cloud Development, Software Engineering for Web, Cloud, and mobile Apps.</li>
    </div><br>

    <h2>Skills and Technology</h2>
    <div>
        <li>Web Development (HTML, CSS, JavaScript, PHP)</li>
        <li>Databases (MySQL, ER Diagrams)</li>
        <li>Programming (Java, C++, Python)</li>
        <li>Computer Architecture (x86 Assembly Language, Hardware) </li>
        <li>Eclipse, PyCharm, Visual Studio </li>
        <li>Agile methodologies</li>
        <li>Operating Systems (Windows, Linux)</li>
        <li>Algorithms and Data Structures </li>
        <li>Microsoft Office (Word, Excel, PowerPoint)</li>
        <li>Source Control (Git)</li>
        <li>Unified Modeling Language </li>

        <br><b>Currently Learning (Python, C++ , C#)</b>
    </div><br>

    <h2>Education</h2>
    <p>
        <b>BSc in Software Development, Institute of Technology Carlow </b><br>
        2018 – 2022<br>
        First year GPA <b>80.33%</b><br>
        Second year GPA <b>84.83%</b><br>
    </p>
    <p>
        <b>BSc in Physics with Astronomy at Dublin City University</b><br>
        2013-2015
    </p><br>

    <h2>Projects</h2>
    <p>
        <li>Customer invoice management system with a graphical user interface using JAVA SWING and MySQL</li>
        <li>Webapp to manage Employes (HTML, CSS, JavaScript, PHP, MySQL) </li>
        <li>Part of a four-member team, assigned to build a database application for a Pharmacy (HTML, CSS, JavaScript, PHP, MySQL)</li>
    </p><br>

    <h2>Work Experience</h2>
    <div>
        <b>Scotco ROI Limited</b><br>
        <b>Team member</b> September 2014- February 2017<br>
        <b>Franchise Team leader</b> February 2017 - Present
        <li>Running pre-shift briefing with team members</li>
        <li>Allocation of tasks and responsibilities to team members </li>
        <li>Analysed employee workloads to meet seasonal fluctuation needs</li>
        <li>Responsible for cash handling and stock management</li>
    </div><br><br><br><br><br><br><br><br><br><br>

</section>


{% endblock %}