<!--
Student Name: Krzysztof Bas
Student Number: C00238768
 -->

{% extends 'base.html'%}
{% block body %}

<section id="formSection">

    <h2>Physics and Astrophysics</h2>
    <p>
        If you want to know more about black holes click <a target="_blank" href="https://science.nasa.gov/astrophysics/focus-areas/black-holes"> here! </a>
        or maybe you are also interested in dark matter, in that case click  <a target="_blank" href="https://home.cern/science/physics/dark-matter"> here! </a>.
    </p><br>

    <h2>Hiking</h2>
    <p>
        Whenever I have some free time and the weather is good my actions can be described by the following if statement :)
    </p>
    <p>
        if GoodWeather :<br>
        <div>
            &emsp;&emsp;Krzysztof.hiking()<br>
            &emsp;&emsp;picture.take()<br>
            &emsp;&emsp;happiness = True
        </div>
    </p><br>

    <h2>Martial Arts </h2>
    <p>
        Since young age I admired the art of Martial Arts. It's an amazing way of developing physical, mental and spiritual
        aspects of our personality. However due to lack of time i had to stop one of my grates passions. Hopefully,
        the moment of my graduation will also be the moment I will come back to this aspect of my life and continue
        the journey towards Black Belt in Japanese Jiu Jitsu.
    </p>

    <h2> Movies</h2>
    <p>
        I like watching movies. Especially old series like Alien, Indiana Jones, Planet of the Apes and my favourite
        James bond. My favourite and extremely underrated James Bond movie (not only mine :) ) is "James Bond,"On Her Majesty's Secret Service"
        with George Lazenby.
    </p>
</section>



{% endblock %}