<!--
Student Name: Krzysztof Bas
Student Number: C00238768
 -->

{% extends 'base.html'%}
{% block body %}

<section >
    <p>
        My name is Krzysztof Bas. I am a 3rd year student of Software Development at Institute of Technology Carlow.
        I have previously enrolled in DCU studying physics however after 3 years I decided that it wasn't something
        I want to continue for the rest of my life.

    </p>

    <p>
        Picture representing me, before nasty Covid. I'll be back...
    </p>
            <img src="static/logo.jpg" alt="No picture? Let me know by leaving comment :) ">
</section>

{% endblock %}