<!--
Student Name: Krzysztof Bas
Student Number: C00238768
 -->
{% extends 'base.html'%}
{% block body %}

<section id="formSection">
    <p>
        Although I am not a game developer, playing games allows me to embrace and stay on top with the most modern gaming technologies.
        The more modern and advanced game is the greater hardware requirements are. However in order to fully appreciate and experience gaming,
        good PC components such as CPU or GPU are a necessity. This is turn forces me to stay on top with hardware technologies.
        A vicious and expensive circle, that ends up bringing joy and relaxation as well as sleepless nights which isnt that great when assignment is due
        or I'm starting work at 8.AM the next day.

    </p>
</section>



{% endblock %}