<!--
Student Name: Krzysztof Bas
Student Number: C00238768
 -->
{% extends 'base.html'%}
{% block body %}

<section id="formSection">
    <p>
        Ever since I started studying Software Development, Algorithms has stood out to me out of all subjects.
        It was fascinating to see how algorithms and theories can be implemented into code,
        as I’ve always felt confused about how to do so. Pseudocode was a fantastic thing to learn.
        It allows every programmer to understand each other despite the language they use, which you cannot do with spoken languages.
        It has always been a subject to look forward to where you can learn something new.
        Things like this convince me that I made the right choice choosing this career path for myself.
    </p>
</section>

{% endblock %}