<!--
Student Name: Krzysztof Bas
Student Number: C00238768
 -->

{% extends 'base.html'%}
{% block body %}

<section id="formSection">
    <p>One of my favourites technologies is python. Compared to Java or C++ , Python is my weakest programming language.<br>
    I'm planning to change that, making it my strongest programing language in order to use it within my 4th year project.
    Although Python is generally easier than other programming languages, I think that understanding of principles that are running
        in the background is essential to master Python.</p>

    <p>What makes Python amazing is the fast that it can be basically used anywhere to build just about anything.
    Ranging from web development, games, desktops apps, data science , artificial intelligence, cyber crime to scientific computing
    makes it excellent for any kind of programmer. It is also very easy to use, especial for beginners,
        here's <a target="_blank" href="https://www.learnpython.org/">website</a> for anyone that wants to learn basics of python.</p>


</section>


{% endblock %}